.chart-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.chart-item {
    flex: 0 0 45%;
    margin: 10px;
}

/* components.css */

/* Общие стили для контейнера */
.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стили для формы */
.form-group {
    margin-bottom: 20px;
}

.cp-time-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


.cp-form-group {
    display: inline-block;
    margin-left: 25px;
}